<header-drawer
  data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}"
  {% if text_menu_icon %}
    class="header-drawer--text-icon"
  {% endif %}
  data-desktop-type="{{ section.settings.menu_type_desktop }}"
  data-drawer="{{ settings.animations_type }}"
>
  <style>
    /* Ensure the text toggle aligns and looks like the icon button */
    .header__menu-text {
      display: inline-block;
      line-height: 1;
      font-size: 1.15rem; /* slightly larger */
      text-transform: uppercase;
      letter-spacing: 0.02em;
      margin-left: 0.5rem;
    }
  </style>
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon{% if text_menu_icon %} header__icon--text{% endif %} header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
      data-menu-text="{{ 'sections.header.menu' | t }}"
      data-close-text="Close"
    >
      <span class="header__menu-text">
        <span class="header__menu-text--menu">{{ 'sections.header.menu' | t }}</span>
        <span class="header__menu-text--close" aria-hidden="true">Close</span>
      </span>
    </summary>
    <div
      id="menu-drawer"
      class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}"
      tabindex="-1"
    >
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__mobile-content menu-drawer__title-and-close-btn">
          <h3 class="menu-drawer__title">{{ section.settings.mobile_menu_title }}</h3>
          <button class="menu-drawer__close-btn menu-drawer__close-menu-btn header__icon header__icon--menu header__icon--summary link focus-inset">
            {% render 'icon-close' %}
          </button>
        </div>
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                        {{ link.title | escape }}
                        {% render 'icon-arrow' %}
                        {% render 'icon-caret' %}
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            {% render 'icon-arrow' %}
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links != blank
                                  or section.settings.products_mega_menu_links contains link.title
                                  and section.settings.products_mega_menu_display_collection_products
                                -%}
                                  <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                    <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                      {% if section.settings.products_mega_menu_links contains link.title
                                        and childlink.url contains 'collections'
                                        and section.settings.products_mega_menu_display_collection_images_on_mobile
                                      %}
                                        {% assign link_collection_handle = childlink.url | remove: '/collections/' %}
                                        {% assign link_current_collection = collections[link_collection_handle] %}
                                        {% if link_current_collection.featured_image != blank %}
                                          <div class="header__menu-item__preview-image header__menu-item__preview-image--mobile">
                                            <img
                                              src="{{ link_current_collection.featured_image | image_url: width: 150 }}"
                                              alt=""
                                              width="auto"
                                              height="auto"
                                            >
                                          </div>
                                        {% endif %}
                                      {% endif %}
                                      {{ childlink.title | escape }}
                                      {% render 'icon-arrow' %}
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        {% render 'icon-arrow' %}
                                        {{ childlink.title | escape }}
                                      </button>
                                      {% if section.settings.products_mega_menu_links contains link.title %}
                                        <ul class="products-mega-menu__cards products-mega-menu__cards--mobile">
                                          {% if section.settings.products_mega_menu_display_collection_products %}
                                            {% assign link_collection_handle = childlink.url
                                              | remove: '/collections/'
                                            %}
                                            {% assign link_current_collection = collections[link_collection_handle] %}
                                            {% for product in link_current_collection.products %}
                                              <li>
                                                {% render 'card-product',
                                                  card_product: product,
                                                  media_aspect_ratio: 'square',
                                                  show_secondary_image: true,
                                                  extend_height: false,
                                                  custom_color_scheme: 'background-1'
                                                %}
                                              </li>
                                            {% endfor %}
                                          {% endif %}
                                          {%- for grandchildlink in childlink.links -%}
                                            <li>
                                              {% if grandchildlink.url contains 'products' %}
                                                {% assign product_handle = grandchildlink.url | remove: '/products/' %}
                                                {% assign current_product = all_products[product_handle] %}
                                                {% render 'card-product',
                                                  card_product: current_product,
                                                  media_aspect_ratio: 'square',
                                                  show_secondary_image: true,
                                                  extend_height: false,
                                                  custom_color_scheme: 'background-1'
                                                %}
                                              {% elsif grandchildlink.url contains 'collections' %}
                                                {% assign collection_handle = grandchildlink.url
                                                  | remove: '/collections/'
                                                %}
                                                {% assign current_collection = collections[collection_handle] %}
                                                {% render 'card-collection',
                                                  card_collection: current_collection,
                                                  media_aspect_ratio: 'square',
                                                  extend_height: false,
                                                  columns: 1,
                                                  custom_color_scheme: 'background-1'
                                                %}
                                              {% endif %}
                                            </li>
                                          {%- endfor -%}
                                        </ul>
                                      {% else %}
                                        <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                          {%- for grandchildlink in childlink.links -%}
                                            <li>
                                              <a
                                                href="{{ grandchildlink.url }}"
                                                class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                                {% if grandchildlink.current %}
                                                  aria-current="page"
                                                {% endif %}
                                              >
                                                {{ grandchildlink.title | escape }}
                                              </a>
                                            </li>
                                          {%- endfor -%}
                                        </ul>
                                      {% endif %}
                                    </div>
                                  </details>
                                {%- else -%}
                                  <a
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
            <!-- Insert SEARCH as a menu list item so it matches other items visually -->
            <ul class="menu-drawer__menu list-menu" role="list">
              <li>
                <a
                  href="#"
                  class="menu-drawer__menu-item list-menu__item link link--text focus-inset menu-drawer__search-trigger"
                  aria-label="{{ 'general.search.search' | t }}"
                >
                  <span class="menu-drawer__search-text">{{ 'general.search.search' | t | default: 'Search' }}</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- start secondary nav -->
          {% if section.settings.secondary_menu != blank %}
            <nav class="menu-drawer__navigation menu-drawer__secondary-nav">
              <ul class="menu-drawer__menu has-submenu list-menu" role="list">
                {%- for link in section.settings.secondary_menu.links -%}
                  <li>
                    {%- if link.links != blank -%}
                      <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                        <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                          {{ link.title | escape }}
                          {% render 'icon-arrow' %}
                          {% render 'icon-caret' %}
                        </summary>
                        <div
                          id="link-{{ link.handle | escape }}"
                          class="menu-drawer__submenu has-submenu gradient motion-reduce"
                          tabindex="-1"
                        >
                          <div class="menu-drawer__inner-submenu">
                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                              {% render 'icon-arrow' %}
                              {{ link.title | escape }}
                            </button>
                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                              {%- for childlink in link.links -%}
                                <li>
                                  {%- if childlink.links == blank -%}
                                    <a
                                      href="{{ childlink.url }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                      {% if childlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                    >
                                      {{ childlink.title | escape }}
                                    </a>
                                  {%- else -%}
                                    <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                      <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                        {{ childlink.title | escape }}
                                        {% render 'icon-arrow' %}
                                        {% render 'icon-caret' %}
                                      </summary>
                                      <div
                                        id="childlink-{{ childlink.handle | escape }}"
                                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                      >
                                        <button
                                          class="menu-drawer__close-button link link--text focus-inset"
                                          aria-expanded="true"
                                        >
                                          {% render 'icon-arrow' %}
                                          {{ childlink.title | escape }}
                                        </button>
                                        <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                          {%- for grandchildlink in childlink.links -%}
                                            <li>
                                              <a
                                                href="{{ grandchildlink.url }}"
                                                class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                                {% if grandchildlink.current %}
                                                  aria-current="page"
                                                {% endif %}
                                              >
                                                {{ grandchildlink.title | escape }}
                                              </a>
                                            </li>
                                          {%- endfor -%}
                                        </ul>
                                      </div>
                                    </details>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </div>
                      </details>
                    {%- else -%}
                      <a
                        href="{{ link.url }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                        {% if link.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ link.title | escape }}
                      </a>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </nav>
          {% endif %}
          <!-- end secondary nav -->
          <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <!-- account link moved to bottom of drawer (kept out of utility links) -->
            {%- endif -%}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    {%- render 'icon-twitter' -%}
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    {%- render 'icon-facebook' -%}
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    {%- render 'icon-pinterest' -%}
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    {%- render 'icon-instagram' -%}
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    {%- render 'icon-tiktok' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    {%- render 'icon-tumblr' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    {%- render 'icon-snapchat' -%}
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    {%- render 'icon-youtube' -%}
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    {%- render 'icon-vimeo' -%}
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- comment -%} account moved out of the social list; rendered at drawer bottom-left {%- endcomment -%}
            </ul>
          </div>
          <!-- account placed bottom-left of the drawer -->

          {% if shop.customer_accounts_enabled -%}
            <div class="menu-drawer__account-bottom-left">
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5"
              >
                {% render 'icon-account' %}
                <span class="menu-drawer__account-text">
                  {%- liquid
                    if customer
                      echo 'customer.account_fallback' | t
                    else
                      echo 'customer.log_in' | t
                    endif
                  -%}
                </span>
              </a>
            </div>
          {%- endif %}
        </div>
      </div>
    </div>
  </details>
  <script>
    (function () {
      function onReady(fn) {
        if (document.readyState != 'loading') fn();
        else document.addEventListener('DOMContentLoaded', fn);
      }
      onReady(function () {
        var searchTrigger = document.querySelector('.menu-drawer__search-trigger');
        var headerSearchToggle = document.querySelector(
          '.header__icon--search.modal__toggle, .header__search summary.modal__toggle, .header__search .modal__toggle'
        );
        var details = document.getElementById('Details-menu-drawer-container');
        if (!searchTrigger || !headerSearchToggle || !details) return;
        searchTrigger.addEventListener('click', function (e) {
          e.preventDefault();
          try {
            // close the drawer details element
            if (details.hasAttribute('open')) details.removeAttribute('open');
            // also ensure any header menu toggle's aria-expanded is reset so the overlay pseudo-element is removed
            try {
              var menuToggles = document.querySelectorAll('.header__icon--menu[aria-expanded]');
              if (menuToggles && menuToggles.length) {
                menuToggles.forEach(function (el) {
                  try {
                    el.setAttribute('aria-expanded', 'false');
                  } catch (e) {}
                });
              }
            } catch (err) {}
          } catch (err) {}
          // small delay to allow close animation before opening modal
          setTimeout(function () {
            try {
              headerSearchToggle.click();
            } catch (err) {}
          }, 220);
        });

        // Immediate swap: when the summary (menu toggle) is clicked, change the visible
        // word immediately (no animation delay). The existing 'toggle' handler will
        // also update on state change, but this ensures instant feedback on click.
        try {
          var summaryToggleImmediate = details.querySelector('summary.header__icon--menu') || document.querySelector('.header__icon--menu');
          if (summaryToggleImmediate) {
            (function (summaryEl, det) {
              var menuWrapper = summaryEl.querySelector('.header__menu-text');
              var menuSpan = menuWrapper ? menuWrapper.querySelector('.header__menu-text--menu') : null;
              var closeSpan = menuWrapper ? menuWrapper.querySelector('.header__menu-text--close') : null;
              var menuLabel = summaryEl.getAttribute('data-menu-text') || '{{ 'sections.header.menu' | t }}';
              var closeLabel = summaryEl.getAttribute('data-close-text') || 'Close';

              // initialize text in the stacked spans in case data attributes differ
              try {
                if (menuSpan) menuSpan.textContent = menuLabel;
                if (closeSpan) closeSpan.textContent = closeLabel;
              } catch (err) {}

              // Immediate visual toggle on click: add/remove class so CSS animations run
              summaryEl.addEventListener('click', function () {
                try {
                  var willOpen = !det.hasAttribute('open');
                  if (willOpen) {
                    summaryEl.classList.add('is-open');
                    try { summaryEl.setAttribute('aria-label', closeLabel); } catch (e) {}
                  } else {
                    summaryEl.classList.remove('is-open');
                    try { summaryEl.setAttribute('aria-label', menuLabel); } catch (e) {}
                  }
                } catch (err) {}
              });
            })(summaryToggleImmediate, details);
          }
        } catch (err) {}

        // --- Ensure drawer sits below the navbar deterministically ---
        function updateHeaderBottomPosition() {
          try {
            var headerEl = document.querySelector('.header-wrapper') || document.querySelector('.header');
            if (!headerEl) return;
            var rect = headerEl.getBoundingClientRect();
            // rect.bottom is viewport-relative; use it for fixed-position top
            var bottom = Math.round(rect.bottom);
            document.documentElement.style.setProperty('--header-bottom-position', bottom + 'px');
            return bottom;
          } catch (err) {
            return null;
          }
        }

        function applyMenuDrawerInlinePosition() {
          try {
            var menu = document.getElementById('menu-drawer') || document.querySelector('.menu-drawer');
            var headerEl = document.querySelector('.header-wrapper') || document.querySelector('.header');
            if (!menu || !headerEl) return;
            var rect = headerEl.getBoundingClientRect();
            var topPx = Math.round(rect.bottom);

            // Read CSS offset variable so CSS and JS agree on the desired gap
            var computedOffset = getComputedStyle(document.documentElement).getPropertyValue('--menu-drawer-offset');
            var offset = 0;
            if (computedOffset) {
              // strip non-digits and parse integer px value, fallback to 0
              var match = computedOffset.match(/(-?\d+)\s*px/);
              if (match) offset = parseInt(match[1], 10) || 0;
              else {
                // try parseInt directly (handles numeric strings)
                offset = parseInt(computedOffset, 10) || 0;
              }
            } else {
              offset = 8; // default used in CSS fallbacks
            }

            topPx = topPx + offset;

            var heightPx = Math.max(0, Math.round(window.innerHeight - topPx));
            // Apply inline styles so the drawer is fixed under the header and never overlaps it
            menu.style.position = 'fixed';
            menu.style.left = '0';
            menu.style.right = '0';
            menu.style.top = topPx + 'px';
            menu.style.height = heightPx + 'px';
            try {
              var zIndexVar = getComputedStyle(document.documentElement).getPropertyValue('--menu-drawer-z-index');
              var zIndexVal = parseInt(zIndexVar, 10);
              if (!isNaN(zIndexVal)) menu.style.zIndex = zIndexVal;
              else menu.style.zIndex = 99999;
            } catch (err) {
              menu.style.zIndex = 99999;
            }
          } catch (err) {}
        }

        // When the drawer toggles open, apply the inline position after a tiny delay
        try {
          details.addEventListener('toggle', function () {
            try {
                var summaryToggle = details.querySelector('summary.header__icon--menu') || document.querySelector('.header__icon--menu');
                // toggle visible word between Menu and Close when drawer opens/closes
                try {
                  if (summaryToggle) {
                    var menuWrapper = summaryToggle.querySelector('.header__menu-text');
                    var menuSpan = menuWrapper ? menuWrapper.querySelector('.header__menu-text--menu') : null;
                    var closeSpan = menuWrapper ? menuWrapper.querySelector('.header__menu-text--close') : null;
                    var menuLabel = summaryToggle.getAttribute('data-menu-text') || '{{ 'sections.header.menu' | t }}';
                    var closeLabel = summaryToggle.getAttribute('data-close-text') || 'Close';
                    if (details.hasAttribute('open')) {
                      // open -> animate to Close
                      summaryToggle.classList.add('is-open');
                      try { summaryToggle.setAttribute('aria-label', closeLabel); } catch (e) {}
                    } else {
                      // closed -> animate to Menu
                      summaryToggle.classList.remove('is-open');
                      try { summaryToggle.setAttribute('aria-label', menuLabel); } catch (e) {}
                    }
                  }
                } catch (err) {}

                if (details.hasAttribute('open')) {
                  setTimeout(function () {
                    updateHeaderBottomPosition();
                    applyMenuDrawerInlinePosition();
                  }, 30);
                } else {
                // clean up inline styles so CSS can resume control
                try {
                  var menu = document.getElementById('menu-drawer') || document.querySelector('.menu-drawer');
                  if (menu) {
                    menu.style.position = '';
                    menu.style.left = '';
                    menu.style.right = '';
                    menu.style.top = '';
                    menu.style.height = '';
                    menu.style.zIndex = '';
                  }
                } catch (err) {}
              }
            } catch (err) {}
          });
        } catch (err) {}

        // initial measurement and on resize
        try {
          updateHeaderBottomPosition();
        } catch (e) {}
        window.addEventListener('resize', function () {
          try {
            updateHeaderBottomPosition();
            applyMenuDrawerInlinePosition();
          } catch (e) {}
        });
      });
    })();
  </script>
</header-drawer>
